button {
  background-color: green;
  color: #fff;
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.red {
  background-color: red;
}

.edit {
  background-color: orange;
}

.remove {
  background-color: crimson;
}
